= semantic_form_for(resource) do |f|

  = f.inputs do
    = f.input :name
    = f.input :description, :as => :text
    = f.input :user,   :as => :select
    = f.input :status, :as => :select, :collection => Ticket::STATUSES, :member_label => Proc.new { |s| t(s, :scope => [:ticket, :status])  }
  = f.buttons

